body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.navbar {
    height: 12vh;
    background-color: black;
    display: flex;
}
.ticket-container {
    min-height: 88vh;
    background-color: lightgray;
    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.filter-container, .add-delete-container {
    background-color: darkgrey;
    margin-top: 0.6rem;
    margin-left: 8vw;
    height: 8vh;
    width: 35px;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
    
}
.filter-container{
    width: 18vw;
    display: flex;
    border-radius: 6px;
}

.add-delete-container {
    width: 15vw;
    display: flex;
    /* height: 100%; */
    padding: 0.7rem;
    border-radius: 6px;
    justify-content: space-around;
   
}

.filter, .add, .delete  {
    height: 100%;
}
.filter {
    width: 25%;
}
.add, .delete {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}

.pink-btn,
.blue-btn,
.red-btn,
.green-btn {
    margin-left: 33%;
    margin-top: 33%;
    border-radius: 50%;
    display: block;
    width: 34%;
    height: 34%;
    
}
.pink-btn, .pink-modal-filter {
    background-color: pink;
}
.blue-btn, .blue-modal-filter {
    background-color: blue;
}
.red-btn, .red-modal-filter {
    background-color: red;
}
.green-btn, .green-modal-filter {
    background-color: green;
}

.action-btn-add {
  background-color: green;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 12px;
  justify-content: space-between;
}
.action-btn-del {
    background-color: red;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 12px;
    justify-content: space-between;
}

.modal {
    height: 20rem;
    width: 35rem;
    background-color:white;
    display: flex;
    box-shadow: 0px 0px 20px 5px;
    position: absolute;
    /* top: calc((88vh-18rem)/2);
    left: calc((100vh-35rem)/2); */
    top: 25%;
    left: 25%;
    

    
}
.input-container {
    height: 100%;
    width: 70%
    
}
.priority-list {
    height: 100%;
    width: 30%;
    background-color: lightcyan;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
.modal-filter {
    width: 100%;
    height: 20%;
}
.modal-filter:hover {
    opacity: 0.5;
    cursor: pointer;
}

.modal-filter.active {
    border: 5px solid;
}
.input-container {
    padding: 2rem;
    outline: none;
}
.placeholder {
    color: lightgray;
}

.ticket {
    height: 9rem;
    width: 15rem;
    background-color: azure;
    /* margin: 0 auto 0 auto; */
}
.ticket.active {
    box-shadow: 0 0 5px 1px;
}
.ticket-color {
    height: 8%;
    width: 100%;
}
.ticket-id {
    background-color: aliceblue;
    height: 15%;
    width: 100%;
    padding: 2%;
}
.task {
    width: 100%;
    height: 78%;
    padding: 2%;
}
.ticket-color-pink {
    background-color: pink;
}
.ticket-color-blue {
    background-color: blue;
}
.ticket-color-red {
    background-color: red;
}
.ticket-color-green {
    background-color: green;
}
